body {
  font-family: sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 18px;
  padding-top:10px;
margin: 0 0 0 0;}
.profile-select select {
  border: 1px solid transparent;
  scrollbar-width: none; /*For Firefox*/;
  -ms-overflow-style: none;  /*For Internet Explorer 10+*/;
  width: 220px;
  padding: 10px 0px 5px 0px; }
.profile-select select::-webkit-scrollbar { /* for webkit browsers */
  width: 0 ;
  height: 0;
}
.profile-select select:focus {
  outline: 0; /* remove the normal select box outline */
}
.profile-select option {
  padding: 5px;
  border-bottom: 1px solid lightgray; }

.profile-select option:hover {
  background-color: lightblue; }

.profile-select option:checked {
  background: #0088ce; // linear-gradient(#a0a0a0, #B8B8B8); }
}
.italic {
  font-style:italic;
}
.job_table tbody tr.selectedRow:hover {
  background-color: #006998; color:white;}
.job_table tbody tr:not(.selectedRow):hover {
  background-color: #ebf8ff; }
.job_table {
  text-align:left;
  min-width: 1410px; }

.job_table td,th{
  padding: 5px;
}
.job_table tbody {
  width:100%;
  display: block;
  height:300px;
  overflow:auto;
}
.job_table thead tr {
  display: block;
 border-bottom: 2px solid black;}
.job_table tr {
  border-bottom: 1px solid lightgray;
}
.job_table tfoot tr{
  display: block;
  font-style: italic;
  border-bottom: none;
}
/* masthead menu items */
li.menu {
  display: block;
  font-size: 1.2em;
  color: white;
  padding-bottom: 7px;
 }

li.menu:hover {
  border-bottom: 5px solid lightskyblue;
  text-decoration: none;
  cursor:pointer;
  }
.menu {
  display: block;
  font-size: 1.2em;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
}
.menu_active {
  border-bottom: 5px solid lightskyblue;
  color: lightskyblue;
}
.menu_inactive {
  position:relative;
  color: white;
  border-bottom: 5px solid #333;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; }
/* masthead definitions */
#masthead {
  background-color: #333;
  color: white;
}
.page-heading {
  color: white;
  float:left;
  width: 25%;
  font-weight: bold;
  font-size: 24px;
  padding-left: 10px;
  padding-top:10px; }

.page-heading::before {
   font-family: FontAwesome; /* using fontawesome 4 */
   content: "\f0e4";
   display: inline-block;
   padding-right: 5px;
   vertical-align: top;
   font-weight: 900;
}
.status-area {
  float:right;
  width:75%;
  height:44px;
  padding-top:20px;
  padding-right:20px
}
.status-spacing {
  padding-right:30px;
}

#jobs {
  position:absolute;
}
#profiles {
  position:absolute;
  max-height: 290px ;
}
.active {
  z-index: 1;
  background-color: white;
width:100%;
height:100%;}

.inactive {
  z-index: -1;
 }

/* Job table widths */
.job_selector {
  min-width: 40px;
  text-align: center;
}
 .job_id {
  min-width:80px;
}
.job_title {
  min-width:560px;
}
.job_clients {
  min-width: 80px;
  text-align: center;
}
.job_profile {
  min-width:110px;
  text-align: left;
}
.job_provider {
  min-width: 100px;
}
.job_platform {
  min-width: 100px;
}
.job_start {
  min-width:180px;
}
.job_status {
  min-width:100px;
}
.job-actions {
  min-width:30px;
}
.job-content pre {
    height:400px;
    border: 1px solid grey;
    margin-bottom: 20px;
    overflow-y:scroll;
}

.offset-right {
  margin-right:15px;
  margin-bottom:10px;
}
.inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.align-right {
  text-align:right;
}
.align-center {
  text-align:center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.profile-select {
  width: 220px;
}
.profile-info {
  border: 1px solid lightgray;
  padding-left:10px;
  width: 500px;
  height: 500px;
  display:block; /*flex: 1; */
  margin-top: 8px;
}
.profile-msg {
  padding-top:40px;
  text-align: center;
}
.profile-msg::before {
  font-family: FontAwesome;
  /* using fontawesome 4 */
  content: "\f0d9";
  position:relative;
}
.profile-reload {
  position:relative;
  top: 310px;
}
.profile-run {
    position: relative;
    left: 648px;
    top: 10px;
}
.profile-container {
  padding-left:10px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

.modal-main {
  position: relative;
  background: white;
  width: 70%;
    max-height: 700px;
  top: 50%;
  left: 0;
  margin: 0 auto;
  overflow-y: hidden;
  transform: translateY(-50%); }
.modal-content-container {
padding: 10px;

}
.modal-inner {
  margin: 0px 10px 0px 10px;
    overflow-y: auto;
    max-height: 480px;
}
.modal-title-bar {
  width: 100%;
  background-color: whitesmoke;
  height: 3em;
  margin-bottom: 20px;}
.modal-title {
  font-size: 1.3em;
  color: #1C2833;
  padding-left: 10px;
  padding-top:5px;
}
.modal-close {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .close-symbol:after {
    content: "\2716";
    color: #1C2833;;
  margin-right:10px;
  font-size:1.8em;

    }
   .close-symbol:hover:after {
     cursor:pointer;
     color:black;
   }
input[type=range].workers-slider {
    width: 200px;
  display: inline-block;}


  textarea {
    padding:10px;
  }
  .selectedRow {
    background-color:#006998;
    color:white;
  }
  .notSelectedRow {
    background-color: transparent;
  }
  input[type=checkbox] {
    cursor: pointer;
  }
  #jobsContainer {
    padding:10px;
  //  height: 45%;
   overflow-y:auto;
  }
  #jobTableArea {
    background-color: white;
  }
  .job-details-container {
    margin-bottom:10px;
    padding-bottom: 10px;
     border-bottom: 1px solid lightgray;
  }
  .chart-item {
    margin-left: 20px;
    border-left: 1px solid #e8e8e8;
    padding-left: 15px; }

  .align-top {

    vertical-align: top;
  }
  .job-summary {
    width: 320px;
  }
  .state-failed {
    color: red;
  }
  .state-ok {
    color: #33cc33;
  }
.state-warning {
  color: yellow;
}

  .spacer-left {
    margin-left: 5px;
  }
  .job-panel {
    width: 100px;
    background-color: #fafafa;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    height: 100px;
    margin-right: 10px; }
  .job-panel:hover {
    border-color: #c0c0c0;
  }
  .lat-table-op {
    width: 120px; }

  .lat-table-head {
    width: 60px;
    text-align: right; }

  .lat-table td {
    text-align: right;
    padding: 0px 5px 0px 0px; }

  .lat-table tr:last-of-type {
    border-bottom: 1px solid lightgray; }
  .lat-table thead tr:first-of-type th {
    padding: 0px;
  }
  .lat-table thead tr:last-of-type th {
    padding: 0px 5px 0px 0px;
  }
  .lat-table caption {
    color: #404040;
    font-weight: bold;
    padding: 10px 0 0 0; }
  .bold {
    font-weight: bold;
  }
  .divider {
    width:100%;
    height:3px;
    border-bottom: 2px solid lightgray;
  }
  .divider:hover {
    cursor: ns-resize;
  }

.zoom-in {
  // display: inline-block;
  float: right;
  margin-top:3px;
  height: 25px;
  width: 25px;
  background-color: lightgray;
  color: black;
  font-size:24px;
}
.zoom-in::before {
  font-family: FontAwesome;
  /* using fontawesome 4 */
  content: "\f106";
  position:relative; top:-40%; left:15%;
}
.zoom-in:hover {
  cursor: pointer;
  color:white;
}

.zoom-out {
  // display: inline-block;
  float: right;
  margin-top:3px;
  height: 25px;
  width: 25px;
  background-color: lightgray;
  color:black;
  font-size: 24px;
}
.zoom-out::before {
  font-family: FontAwesome;
  /* using fontawesome 4 */
  content: "\f107";
  position:relative; top:-40%; left:15%;
}
.zoom-out:hover {
  cursor: pointer; color: white;
}
.dropdown-menu-tbl-right {
    margin-left:-60px;
    top:16px;
    min-width:60px;
}
ul.dropdown-menu-tbl-right::before {
    content:none !important;
}
ul.dropdown-menu-tbl-right::after {
    content:none !important;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}